/* @keyframes top-mid{
    0% {
        transform: rotateX(0deg);
        z-index: 2;
      }
    0%, 99% {
        opacity: 0.99;
    }
    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
}

.tm{
    animation: top-mid 0.3s cubic-bezier(.37,.01,.94,.35);
    animation-fill-mode: both;
    transform-origin: center bottom;
}

@keyframes mid-bottom{
    0%{
        opacity: 1;
      }
    100% {
        transform: 
        translateX(0) 
        translateY(0) 
        translateZ(0) 
        rotateX(0deg) 
        rotateY(0deg)
        rotateZ(0deg);
      
      opacity: 1;
    z-index: 5;
    }
}

.mb{
    animation: animate-bottom 250ms;
    animation-delay: 250ms;
}

 */

 @keyframes top-mid{
    0% {
        transform: rotateX(0deg);
        z-index: 2;
    }
    0%, 99% {
        opacity: 0.99;
    }
    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
 }

 .tm{
    animation: top-mid 0.3s cubic-bezier(.37,.01,.94,.35);
    animation-fill-mode: both;
    transform-origin: center bottom; 
 }

 @keyframes mid-bottom{
    0%, 50% {
        z-index: -1;
        transform: rotateX(90deg);
        opacity: 0;
    }
    51% {
        opacity: 0.99;
    }
    100% {
        opacity: 0.99;
        transform: rotateX(0deg);
        z-index: 5;
    }
 }

 .mb{
    transform-origin: center top;
    animation-fill-mode: both;
    animation: mid-bottom 0.6s cubic-bezier(.15,.45,.28,1); 
 }
