html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Red Hat Text';
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 700;
    background-color: $veryDarkmbblue;
    background-image: url('/images/bg-stars.svg');
    z-index: 1;
}