.header{
    color: $white;
    text-align: center;
    margin-top: 140px;
    font-size: 18px;
    letter-spacing: 9px;

    @include breakpoint-down(small){
        font-size: 18px;
        letter-spacing: 7px;
        margin-top: 146px;
    }

    @media (min-width: 376px) and (max-width: 639px){
        font-size: 21px;
    }
}